@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
* {
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 32px !important;
    font-weight: 400 !important;
}

h3 {
    font-size: 18px !important;
    font-weight: 400 !important;
}

h5 {
    font-size: 16px !important;
}

p {
    font-size: 14px !important;
}

a:hover {
    text-decoration: none !important;
}


/* navbar section starts */

.navbar {
    border-bottom: 1px solid #1885C7;
}

.navbar-brand {
    color: #1885C7 !important;
    font-size: 24px !important;
    transition: all 0.3s ease-in-out;
    font-family: 'Monoton', cursive;
}

.navbar .navbar-brand:hover {
    color: #fff !important;
}

.navbar.bg-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #1885C7 !important;
}


/* navbar section ends */


/* header section starts */

#header {
    background: url(../images/bg.jpg) no-repeat;
    background-position: 30% 24%;
    background-size: cover;
    height: 90vh;
}

#header .row {
    height: 90vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.display-3 {
    font-family: 'Black Ops One', cursive;
}

.display-3 span {
    font-family: 'Black Ops One', cursive;
    color: #1885C7;
}

.btn.btn-outline-primary {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
    color: #fff;
    border-color: #1885C7;
    transition: all 0.3s ease-in-out;
}

.btn.btn-outline-primary:hover {
    background-color: #1885C7;
    border-color: #1885C7;
}


/* header section ends */


/* Features section starts */

#features .fab,
#features .fas {
    font-size: 40px;
    color: #1885C7;
    transition: all 0.3s ease-in-out;
}

#features h3 {
    color: #1885C7;
    transition: all 0.3s ease-in-out;
}

#features .feature__top:hover .fas {
    color: #035080;
}

#features .feature__top:hover .fab {
    color: #035080;
}

#features .feature__top:hover h3 {
    color: #035080;
}


/* Features section ends */


/* About section starts */

#about .col-md-6 {
    display: inline;
}

#about .about-btn {
    color: #1885C7 !important;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

#about p {
    line-height: 21px;
}

#about .about-btn:hover {
    color: #fff !important;
    border-color: #1885C7;
}

.about__pic {
    width: 500px;
}

.about__header {
    border-left: 6px solid #1885C7;
    padding-left: 30px;
    color: #1885C7;
    text-transform: uppercase;
}


/* About section ends */


/* Team section starts  */

#team .card {
    border: none;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#team .card:hover {
    opacity: 1;
}

#team .fab {
    font-size: 24px;
    color: #035080;
    transition: all 0.3s ease-in-out;
}

#team .fab:hover {
    color: #1885C7;
}

.card-pic {
    width: 150px;
    height: 150px;
}


/* Team section ends  */


/* We-Do section starts  */

#whatWeDo {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/code-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#whatWeDo .far {
    color: #1885C7;
    transition: all 0.3s ease-in-out;
}

#whatWeDo .far:hover {
    color: #035080;
}

#whatWeDo h2 {
    color: #1885C7;
    font-size: 40px !important;
}


/* We-Do section ends  */


/* Case-Study section starts  */

#caseStudy {
    background-color: #f4f5f9;
    line-height: 28px;
}

#caseStudy .case-area {
    background-color: #fff;
    margin-top: 40px;
    margin-right: -40px;
    padding: 40px;
    position: relative;
    z-index: 2;
    min-height: 420px;
}

#caseStudy .fas {
    font-size: 40px;
    color: #1885C7;
}

#caseStudy h3 {
    font-size: 18px !important;
    margin: 40px auto;
    color: #1885C7;
}

#caseStudy .btn {
    color: #1885C7;
    border-color: #1885C7;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}

#caseStudy .btn:hover {
    background-color: #1885C7;
    color: #fff;
}

#caseStudy .case-pic {
    width: 400px;
    height: 500px;
    margin-left: -40px;
}


/* Case-Study section ends  */


/* Portfolio section starts  */

#portfolio .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

#portfolio img {
    width: 600px;
}

#portfolio .fas {
    font-family: 24px;
    margin-bottom: 20px;
}

#portfolio .img-box {
    position: relative;
    cursor: pointer;
}

#portfolio .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #035181;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

#portfolio .img-box:hover .image-overlay {
    opacity: 0.7;
}

#portfolio .img-text {
    position: absolute;
    color: #fff;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio h4 {
    font-size: 16px;
    font-weight: 300;
}

#portfolio em {
    font-weight: 300;
}

#portfolio .portfolio-pic {
    height: 350px;
    object-fit: cover;
}


/* Portfolio section ends  */


/* Carousel section starts  */

#carousel {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/carousel-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#carousel .quote {
    color: rgba(24, 134, 199, 0.6);
    margin-bottom: 30px;
}

#carousel img {
    width: 150px;
    height: 150px;
    opacity: 0.1;
}

#carousel .blockquote-footer {
    color: #1886C7;
}


/* Carousel section ends  */


/* Contact section starts  */

#contact {
    background-color: #f4f5f9;
    color: #404444;
}

#contact h2 {
    color: #1886C7;
    font-size: 40px !important;
}

#contact a {
    color: #1886C7;
}

#contact a:hover {
    color: #035181;
}

#contact .input-group-text {
    width: 50px;
    border: 0;
    border-radius: 0;
    background-color: #1886C7;
    color: #fff;
}

#contact input,
#contact textarea {
    border-radius: 0;
}

#contact .btn {
    background-color: #1885C7;
    border-color: #1885C7;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}

#contact .btn:hover {
    background-color: #035181;
}


/* Contact section ends  */